// Color Variables
$cardBackground: rgb(157, 178, 169);
$coralBlue: rgb(63, 213, 255);
$spaceGray: rgb(209, 211, 211);
$holyWhite: rgb(247, 249, 202);
$midnightLight: rgb(33, 145, 104);
$northernLights: rgb(4, 209, 113);
