#cardContainer{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.card{
  max-width: 600px;
  width: 66%;
  margin-top: 1%;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
.card-body{
  @include cardStyle;
  margin: 0;

}


.card-img{
  // @include card-img;
  display: flex;
  align-items: flex-end;
  max-width: 15%;
  position: absolute;
  top: 18%;
  left: 105%;
  display: none;
}

.card-title{
  color: $darkKnightGray;
}

.card-text{
  color: $darkKnightGray;
}
