#cardContainer{
  @include centerMainContent;
}

.card{
  @include singelCardStyle;
}
.card-body{
  @include cardStyle;
  margin: 0;

}


.card-img{
  display: flex;
  align-items: flex-end;
  max-width: 15%;
  position: absolute;
  top: 18%;
  left: 105%;

}

.card-title{
  color: $darkKnightGray;
}

.card-text{
  color: $darkKnightGray;
}
