#cardContainer{
  @include centerMainContent;

}

.card{
  @include singelCardStyle;

}

.card-body{
  @include cardStyle;
  margin: 0;

}

.img-container{
  width: 255px;
  height: 100px;
}

.card-img{
  object-fit: fill;

}

.card-title{
  color: $darkKnightGray;
}

.card-text{
  color: $darkKnightGray;
}
